.home-screen.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .home-screen.dark-mode h1 {
    color: #fff;
  }
  
  .home-screen.dark-mode .dark-mode-toggle label {
    color: #fff;
  }
  
  /* Add more dark mode styles as needed */
  